<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [opened]="showSideNav" fixedTopGap="64" #sidenav>
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>home</mat-icon> Home
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon>people</mat-icon> Directory
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon>event</mat-icon> Calendar
      </a>
      <a mat-list-item routerLink="/announcements" routerLinkActive="active">
        <mat-icon>announcement</mat-icon> Announcements
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon>info</mat-icon> About
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon>help</mat-icon> Help
      </a>
    </mat-nav-list>
    <div class="watermark">
      <img src="assets/images/ws.png" alt="worksense logo">
      <p>
        &#169; 2020 worksense<br>
        All Rights Reserved.
      </p>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
