<mat-card class="card" [class.selected]="selected">
  <div class="line" [ngClass]="randomLine"></div>

  <mat-card-title>{{announcement.title}}</mat-card-title>
  <mat-card-subtitle>{{announcement.date | timeAgo}} by {{announcement.author}}</mat-card-subtitle>
  <mat-card-content>
    <p>
      {{selected ? announcement.text : announcement.text | announcementText}}
    </p>
    <button mat-icon-button class="delete" *ngIf="selected" (click)="deleteAnnouncement(announcement._id)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
