/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  // Webkit Scrollbar
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
    background: #e0e0e0;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
  // Firefox Scrollbar
  scrollbar-width: thin;
  scrollbar-color: #f6f6f6 #ffffff;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5 {
    padding: 0;
    margin: 0;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
